{% extends 'theme/base.html' %}

{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <!-- Page Wrapper -->
        <div id="page-wrapper">

            {% include 'theme/components/header.html' %}

            <!-- Banner -->
                <section id="banner">
                    <div class="inner">
                        <!-- <div class="logo"><span class="icon fa-diamond"></span></div> -->
                        <img src="https://graph.facebook.com/587825329/picture?type=normal" class="img-circle">
                        <h2>Alec Hsu</h2>
                        <p>web developer</p>
                    </div>
                </section>

            <!-- Wrapper -->
                <section id="wrapper">

                    <!-- One -->
                        <section id="one" class="wrapper spotlight style1">
                            <div class="inner">
                                <div class="image">
                                    <img src="{% static "theme/images/pic01.jpg" %}" alt="" />
                                </div>
                                <div class="content">
                                    <h2 class="major">Education</h2>
                                    <p>Bachelor of Mechanical Engineering<br/>National Taipei University of Technology - Graduating in 2016</p>
                                    <hr />
                                    <p>Master of Computer Science<br/>University of San Francisco - Graduating in 2018</p>
                                    <!-- <a href="#one" class="special"></a> -->
                                    <!-- <div class="special"></div> -->
                                </div>
                            </div>
                        </section>

                    <!-- Two -->
                        <section id="two" class="wrapper alt spotlight style2">
                            <div class="inner">
                                <div class="image">
                                    <img src="{% static "theme/images/pic02.jpg" %}" alt="" />
                                </div>
                                <div class="content">
                                    <h2 class="major">Skills</h2>
                                    <div class="col-md-6">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" style="width: 75%;">
                                                Python
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" style="width: 75%;">
                                                Django
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 70%;">
                                                Bootstrap
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 65%;">
                                                jQuery
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 75%;">
                                                HTML
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 75%;">
                                                CSS
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 50%;">
                                                AngularJS
                                            </div>
                                        </div>

                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width: 30%;">
                                                Node.js
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <a href="#two" class="special"></a> -->
                                    <!-- <div class="special"></div> -->
                                </div>
                            </div>
                        </section>

                    <!-- Three -->
                        <section id="three" class="wrapper spotlight style3">
                            <div class="inner">
                                <div class="image">
                                    <img src="{% static "theme/images/pic03.jpg" %}" alt="" />
                                </div>
                                <div class="content">
                                    <h2 class="major">Experience</h2>
                                    <div class="text-left">
                                        <p>
                                            2013
                                            <span class="pull-right">
                                                AIESEC - IGIP Team Member
                                            </span>
                                            <br />
                                            <br />

                                            2014
                                            <span class="pull-right">
                                                AIESEC - Market Expansion Team Manager
                                            </span>
                                            <br />
                                            <span class="pull-right">
                                                JihLin Tech - Mechanical Engineering Intern
                                            </span>
                                            <br />
                                            <br />

                                            2015
                                            <span class="pull-right">
                                                TOEFL-iBT - 97
                                            </span>
                                            <br />
                                            <span class="pull-right">
                                                Hackathon Taiwan - Front End Developer
                                            </span>
                                            <br />
                                            <span class="pull-right">
                                                OIA of NTUT - Exchange Student Buddy
                                            </span>
                                            <br />
                                            <br />

                                            2016
                                            <span class="pull-right">
                                                Gliacloud Tech - Web Developer Intern
                                            </span>
                                        </p>
                                    </div>
                                    <!-- <a href="#" class="special">Learn more</a> -->
                                </div>
                            </div>
                        </section>

                    <!-- Four -->
                        <section id="four" class="wrapper alt style1">
                            <div class="inner">
                                <h2 class="major">Sale</h2>
                                <p>Things I would like to sell.</p>
                                <section class="features">

                                    {% for item in items %}
                                    <article>
                                        <a href="#" class="image"><img src="{{ MEDIA_URL }}{{ item.image }}" alt="" /></a>
                                        <h3 class="major">{{ item.title }}</h3>
                                        <p>{{ item.description }}</p>
                                        <p>${{ item.price }}</p>
                                    </article>
                                    {% endfor %}

                                </section>
                                
                                <ul class="actions">
                                    <li><a href="{% url 'sale' %}" class="button">More</a></li>
                                </ul>
                            </div>
                        </section>

                </section>

            {% include 'theme/components/footer.html' %}

        </div>

{% endblock %}
