<!-- Header -->
    <header id="header" class="alt">
        <h1><a href="{% url 'home' %}">Home</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

<!-- Menu -->
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'sale' %}">Sale</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <!-- <li><a href="#">Log In</a></li>
                <li><a href="#">Sign Up</a></li> -->
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>
