{% extends 'theme/base.html' %}

{% load staticfiles %}

{% block title %}
    Contact
{% endblock %}

{% block body %}

    <!-- Page Wrapper -->
        <div id="page-wrapper">

            {% include 'theme/components/header.html' %}

            <!-- Banner -->
                <section id="banner">
                    <div class="inner">
                        <h2>Contact</h2>
                        <p>Feel free to send me a message.</p>
                    </div>
                </section>

            <!-- Wrapper -->
                <section id="wrapper">

                    <!-- Content -->
                        <section class="wrapper">
                            <div class="inner">

                                <section id="footer">
                                    <div class="inner">
                                        {% if messages %}
                                           {% for message in messages %}
                                             <div class="alert alert-info text-center {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                                           {% endfor %}
                                         {% endif %}
                                        <h2 class="major">Get in touch</h2>
                                        <p>

                                        </p>

                                        <form method="post" action=""> {% csrf_token %}
                                            {% for field in form %}
                                                {% if field.label|lower == 'message' %}
                                                    <div class="field">
                                                        {{ field.errors }}
                                                        <label for="{{ field.id_for_label }}">{{ field.label|title }}</label>
                                                        <textarea name="{{ field.html_name }}" id="{{ field.id_for_label }}" rows="4"></textarea>
                                                    </div>
                                                {% else %}
                                                    <div class="field">
                                                        {{ field.errors }}
                                                        <label for="{{ field.id_for_label }}">{{ field.label|title }}</label>
                                                        <input type="text" name="{{ field.html_name }}" id="{{ field.id_for_label }}" />
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            <ul class="actions">
                                                <li><input type="submit" value="Submit" /></li>
                                            </ul>
                                        </form>

                                        <!-- <form method="post" action="/contact/"> {% csrf_token %}
                                            <div class="field">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" id="name" />
                                            </div>
                                            <div class="field">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" />
                                            </div>
                                            <div class="field">
                                                <label for="message">Message</label>
                                                <textarea name="message" id="message" rows="4"></textarea>
                                            </div>
                                            <ul class="actions">
                                                <li><input type="submit" value="Submit" /></li>
                                            </ul>
                                        </form> -->

                                        <ul class="contact">
                                            <li class="fa-phone">(+1) 415-324-9355</li>
                                            <li class="fa-envelope"><a href="mailto:hsu022210@gmail.com">hsu022210@gmail.com</a></li>
                                            <li class="fa-github"><a href="https://github.com/hsu022210">hsu022210</a></li>
                                            <li class="fa-linkedin"><a href="https://linkedin.com/in/hsu022210">Alec Hsu</a></li>
                                        </ul>

                                    </div>
                                </section>

                            </div>
                        </section>

                </section>

            <!-- Footer -->
                <section id="footer">
                    <div class="inner">
                        <ul class="copyright">
                            <li>&copy; Alec Hsu. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </section>

        </div>

{% endblock %}
