{% extends 'theme/base.html' %}

{% load staticfiles %}

{% block title %}
    Sale
{% endblock %}

{% block body %}

    <!-- Page Wrapper -->
        <div id="page-wrapper">

            {% include 'theme/components/header.html' %}

            <!-- Banner -->
                <section id="banner">
                    <div class="inner">
                        <h2>Sale</h2>
                        <p>Everything on sale.</p>
                    </div>
                </section>

            <!-- Wrapper -->
                <section id="wrapper">

                    <!-- Content -->
                        <section class="wrapper">
                            <div class="inner">

                                <section>
                                    <h3 class="major">Image</h3>
                                    <div class="box alt">
                                        <div class="row uniform">
                                            {% for item in items %}
                                                {% if forloop.counter|divisibleby:'3' %}
                                                <div class="4u$ 12u$(medium)">
                                                    <span class="image fit"><img src="{{ MEDIA_URL }}{{ item.image }}" alt="" /></span>
                                                    <ul class="alt">
                                                        <li>{{ item.title }}</li>
                                                        <li>${{ item.price }}</li>
                                                        <li>{{ item.description }}</li>
                                                    </ul>
                                                </div>
                                                {% else %}
                                                <div class="4u 12u$(medium)">
                                                    <span class="image fit"><img src="{{ MEDIA_URL }}{{ item.image }}" alt="" /></span>
                                                    <ul class="alt">
                                                        <li>{{ item.title }}</li>
                                                        <li>${{ item.price }}</li>
                                                        <li>{{ item.description }}</li>
                                                    </ul>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </section>

                </section>

            {% include 'theme/components/footer.html' %}

        </div>

{% endblock %}
